
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e3e3e3;
}

.header-container {
    justify-content: space-between;
    background-color: #ffffff;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    display: flex;
    margin-bottom: 10%;
}
.header-left-side-container {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.logo {
    border-radius: 50%;
    margin-right: 10px;
}

.header-desc-container {
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    flex-direction:column; 
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.header-content {
    font-weight:normal;
    font-size: 18px;
    color:rgb(0, 0, 0);
}

.login-from-container {
    background-color: #ffffff;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 50px;
}

.login-text {
    padding-bottom: 15px;
}

.input-group1 {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: .55rem;
    align-items: center;
    margin-bottom: 3%;
}

.input-group1 i {
    font-size: 1rem;
}
  
.input-group2 {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: .55rem;
    align-items: center;
}

.input-group2 i {
    font-size: 1.20rem;
}

.login__check, 
.login__check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.login__check {
    font-size: 12px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 22px;
}
  
.login__check-box {
    column-gap: 5px;
}
  
.login__check-input {
    width: 1rem;
    height: 1rem;
}
  
.login__forgot {
    color: black;
}
  
.login__forgot:hover {
    text-decoration: underline;
}
  
.login__button {
    width: 100%;
    padding: 5px;
    margin-bottom: 1rem;
    background-color: var(--white-color);
    border-radius: 4rem;
    color: var(--black-color);
    font-weight: 500;
}

.login__button:hover {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.login__button:hover{
    opacity: 0.75;
    cursor: pointer;
}

.login__button:active{
    transform: translateY(2px);
}
  
.login__register {
    font-size: 15px;
    text-align: center;
}
  
.login__register a {
    color: var(--white-color);
    font-weight: 500;
}
  
.login__register a:hover {
    text-decoration: underline;
}