
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e3e3e3;
}

.header-container {
    justify-content: space-between;
    background-color: #ffffff;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    display: flex;
    margin-bottom: 10%;
}

.header-left-side-container {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.logo {
    border-radius: 50%;
    margin-right: 10px;
}

.header-desc-container {
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    flex-direction:column; 
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.header-content {
    font-weight:normal;
    font-size: 18px;
    color:rgb(0, 0, 0);
}

.login-from-container {
    background-color: #ffffff;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 200px;
    padding: 4%;
}

.login-text {
    padding-bottom: 15px;
}

.input-group1 {
    margin-bottom: 5px;
}
.input-text {
    width: 225px;
}

.input-group2 {
    margin-top: 5px;
}

.button-group {
    color: black ; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px;
    cursor: pointer;
}

.footer {
    display: flex;
    flex-direction:raw;  
    font-size: 70%;
    font-style: italic;
    gap: 5px;
    
}