body {
    background-color:rgb(104, 171, 180);
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.login-from-container {
    background-color: rgb(143, 199, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}