
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #334F70;
}

.header-container {
    justify-content: space-between;
    background-color: #C5D7ED;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    display: flex;
    margin-bottom: 10%;
}

.header-left-side-container {
    flex-direction: row;
    align-items: center;
    display: flex;
}

.logo {
    border-radius: 50%;
    margin-right: 10px;
}

.header-desc-container {
    display: flex;
    flex-direction: column;
}

.header-title {
    display: flex;
    flex-direction:column; 
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 5px;
}

.header-content {
    font-weight:normal;
    font-size: 18px;
    color:rgb(0, 0, 0);
}

.login-from-container {
    background-color: #A6C4E0;
    display: flex;
    border-radius: 2%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 32%;
    padding: 50px;
}

.login-text {
    padding-bottom: 15px;
}

.input-group1 {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: .55rem;
    align-items: center;
    margin-bottom: 3%;
}

.input-group1 i {
    font-size: 100 200 px;
}
  
.input-group2 {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: .55rem;
    align-items: center;
   
}

.input-group2 i {
    font-size: 100 200 px;
}

.input-text {
    display: flex;
    flex-direction: column;
    width: 230px;
    height: 100%;
    border-radius: 1%;
}

.login-check, 
.login-check-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.login-check {
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 34px;
}
  
.login-check-box {
    column-gap: 10px;
}
  
.login-check-input {
    width: 1rem;
    height: 2rem;
}
  
.login-forgot {
    color: black;
}
  
.login-forgot:hover {
    text-decoration: underline;
}
  
.login-button {
    width: 275pxx;
    padding: 5px;
    margin-bottom: 1rem;
    border-radius: 4rem;
    color: var(--black-color);
    font-weight: 500;
}

.login-button:hover {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.login-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.login-button:active {
    transform: translateY(2px);
}

.login-register {
    font-size: 15px;
    text-align: center;
}
  
.login-register a {
    color: var(--white-color);
    font-weight: 500;
}
  
.login-register a:hover {
    text-decoration: underline;
}
/* Media queries section */

/* Medium devices */
@media only screen  and (max-width: 768px) {
    
}    
/* Small devices*/
@media only screen  and (max-width: 600px) {
    
}    