
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-color: lightblue;
    color: black;
    display: flex;
    flex-direction: row; 
    align-items: center;
    font-family:'Lucida Sans';
}

.login-from-container {
    background-color: rgb(153, 197, 212);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin top: 25%;
}
.input-group {
    margin-top: 10%;
    margin-bottom: 5%;
}
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}
.subgroup {
 gap: 20px;
}
.footer {
    margin-top: 7%;
    font-size: 10px;
}