body {
    background-color:rgb(255, 255, 255);
    display: flex;
    flex-direction: row; 
    align-items: center;
}
.login-from-container {
    background-color: rgb(128, 149, 187);
    display: flex;
    flex-direction: column;
    margin: 50%;
}